/* index.css */
@import url("https://unpkg.com/leaflet/dist/leaflet.css");
@import "tailwindcss";

#root {
  margin: 0 auto;
  min-width: 100vw;
  /* padding: 2rem; */
}

.leaflet-container {
  position: relative !important;
  z-index: 0 !important;
}
